@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;500;600&display=swap');

*,
body::before,
body::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
  width: 100%;
  font-size: 10px;
}

body {
  margin: 0% 20%;
  @media screen and (max-width: 768px) {
    margin: 0% 5%;
  }
  background: linear-gradient(
    to bottom right,
    hsl(61, 48%, 59%),
    hsl(61, 38%, 79%)
  );
    
  }


h4 {
  font-size: clamp($h4-font-min, $h4-font-preferred, $h4-font-max);
  color: rgba(56, 56, 56, 1);
  font-weight: 500;
}

h3 {
  font-size: clamp($h3-font-min, $h3-font-preferred, $h3-font-max);
  color: #383838;
  line-height: 2.5rem;
  margin: 2rem 0rem;
  font-weight: 600;
}

a {
  color: rgba(56, 56, 56, 0);
}